# git ignore template

*.pkg.tar.zst
*.pkg.tar.zst.sig
*.tar.zst
*.tar.gz
pkg/
*.log

*.part
stable
code/
workflows/caller-code.yml
workflows/build-code.yml


# kde config updpkgsums output (useless)
kdeglobals
kglobalshortcutsrc
kwinrc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
